* {
    margin: 0;
    padding: 0;
  }

  body{
    background-image: url("https://image.shutterstock.com/image-photo/kerala-government-traditional-school-building-260nw-1414023470.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

  }